:root {
  --color-1: #03081e;
  --color-2: #00026c;
  --color-3: #160642;
  --color-4: #300556;
  --color-5: #ffffff9d;
}
body {
  overflow-x: hidden;
  padding-top: 10rem;
  scroll-behavior: smooth;
}
.logonav {
  border-radius: 100%;
}
.navbar {
  background: rgb(14, 58, 10);
  background: linear-gradient(
    90deg,
    rgba(14, 58, 10, 1) 31%,
    rgba(29, 105, 22, 1) 100%
  );
}

.dropdown-item {
  background: linear-gradient(
    90deg,
    var(--color-1) 0%,
    var(--color-2) 33%,
    var(--color-3) 66%,
    var(--color-4) 100%
  );
}
.first-item {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.last-item {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.row {
  margin-bottom: 1rem;
}
.h5 {
  margin: 1rem;
}
.ratio-16x9 {
  aspect-ratio: 16/9;
}

.bosluk {
  margin-top:180px !important  ;
}

:root {
  --color-1: #0e3a0a;
  --color-2: #ffffff;
  --color-3: #360a3a;
  --color-4: #0a3a1e;
  --color-5: #0a0e3a;
  --color-6: #3a0a0e;
  --color-7: #3a1e0a;
  --color-8: #dddedd;
  --color-9: #000000d7;
}
body {
  background-color: #ffffff;
  overflow-x: hidden;
}

.roboto-mono {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.arvo-regular {
  font-family: "Arvo", serif;
  font-weight: 400;
  font-style: normal;
}

.arvo-bold {
  font-family: "Arvo", serif;
  font-weight: 700;
  font-style: normal;
}

.arvo-regular-italic {
  font-family: "Arvo", serif;
  font-weight: 400;
  font-style: italic;
}

.arvo-bold-italic {
  font-family: "Arvo", serif;
  font-weight: 700;
  font-style: italic;
}
.populer {
  width: 95vw;
  height: 160px;
  background-color: #eaeaea;
  border: 10px black;
}
.product-card {
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
.product-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.product-card img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.product-card .card-body {
  padding: 15px;
  text-align: center;
}
.product-card .card-title {
  font-size: 1.25rem;
  margin-bottom: 0.2rem;
  font-weight: 700;
}
.product-card .card-text {
  font-size: 1rem;
  color: #757575;
}
.product-card .price {
  font-size: large;
  color: #025f14;
  font-weight: 100;
}
.product-card .details {
  display: none;
}
.product-card .btn {
  justify-content: center;
  margin-top: 15px;
  font-size: 1.25rem;
  padding: 10px 20px;
  background-color: #0e3a0a;
  border-color: #0e3a0a;
}
.product-card .btn:hover {
  background-color: #0e3a0a;
  border-color: #0e3a0a;
}
button:focus,
.btn:focus {
  outline: black;
  box-shadow: none !important;
}
.wittgenstein {
  font-family: "Wittgenstein", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.categories {
  overflow: hidden;
  white-space: nowrap;
  background-color: #ffffff00;
  padding: 10px 0;
}

.categories-wrapper {
  display: flex;
  align-items: center;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.category-item {
  background-color: #004e01;
  color: #ffffff;
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  flex-shrink: 0;
  transition: background-color 0.3s;
}

.category-item:hover {
  background-color: #004311;
}

.categories-wrapper::-webkit-scrollbar {
  display: none; /* Webkit tarayıcıları için kaydırma çubuğunu gizler */
}
#top {
  display: hidden;
}

#scroll-to-top-btn {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  text-decoration: none;
  color: white;
  background-color: rgb(0, 51, 12);
  display: grid;
  place-items: center;
  width: 2.5rem;
  aspect-ratio: 1;
  border-radius: 5px;
  opacity: 0;

  animation: showButton linear forwards;
  animation-timeline: view();
  animation-range-start: calc(100vh + var(--animationStartsAfter));
  animation-range-end: calc(
    100vh + var(--animationStartsAfter) + var(--animationDistance)
  );

  & > span {
    font-weight: bold;
    font-size: 2rem;
  }
}

@keyframes showButton {
  from {
    transform: translateY(1rem);
  }
  to {
    opacity: 1;
  }
}
a {
  text-decoration: none;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-container::before,
.header-container::after {
  content: "";
  flex: 1;
  height: 1px;
  background-color: #000000; 
  margin: 0 10px; /* Çizgi ile başlık arasındaki boşluk */
}